* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  overflow-y: auto;
}
.header {
  width: 100%;

  background-color: rgb(246, 104, 163);
  color: white;
  position: fixed !important;
  top: 0px !important; /* Adjust based on the height of Header */
  width: 100% !important;
  z-index: 1001 !important;
}
.header2 {
  position: fixed !important;
  top: 50px !important; /* Adjust based on the height of Header */
  width: 100% !important;
  z-index: 1000 !important;
}
.nav-link.text-white:hover,
.navbar-brand.text-white:hover {
  color: black !important;
}

/* --------------------checkout button------------- */
.custom-button {
  background: linear-gradient(
    to right,
    rgb(85, 2, 85),
    rgb(226, 32, 226),
    rgb(130, 7, 72)
  );
  color: rgb(128, 248, 206) !important;
  font-weight: bold;
  border: none;
  border-radius: 30px !important;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.custom-button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* -------------------Login----------------- */
#Login {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("https://i.pinimg.com/736x/66/45/2b/66452b222b3788f6cec937afb13c24b6.jpg")
    no-repeat center center/cover;
}
#login-card {
  background: url("https://i.pinimg.com/736x/66/45/2b/66452b222b3788f6cec937afb13c24b6.jpg")
    no-repeat center center/cover;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
}
#login-card h2 {
  color: #9b59b6;
  margin-bottom: 20px;
  font-size: 2em;
}

/* Sub-text */
#login-card p {
  color: #7a7a7a;
  margin-bottom: 20px;
  font-size: 1em;
}

/* Input container */
.input-container {
  margin-bottom: 20px;
}
.input-container input {
  background: transparent;
  border: 2px solid #ddd;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 5px;
  border-radius: 10%;
  transition: border 0.3s ease;
  font-size: 1em;
  outline: none;
}
.input-container input:focus {
  border-color: #9b59b6;
}
.login-btn {
  background-color: #804398;
  color: white;
  font-size: 1.2em;
  padding: 12px;
  border: none;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

.login-btn:hover {
  background-color: #4d0f68;
}
/* Link to Sign Up */
.signup-link {
  margin-top: 15px;
  font-size: 1rem;
}
.txt {
  color: #050007;
  margin-right: 8px;
}
.signup-link-text {
  color: #b80682;
  text-decoration: none;
  font: bold;
  font-size: 18px;
}

.signup-link-text:hover {
  text-decoration: underline;
}

/* ------------------------------Sign UP-------------------------------------- */

.webName {
  font-family: "Yellowtail", serif;
  font-weight: 400;
  font-style: normal;

  color: rgb(215, 8, 118) !important;
  letter-spacing: 3px;
  font-size: 30px !important;
}

.ban1 {
  width: 100%;
  height: 60vh;
  background-color: pink;
  background: url("https://images-static.nykaa.com/uploads/10d8a976-1f80-4f4a-9c0e-81149f107720.jpg?tr=cm-pad_resize,w-600")
    no-repeat center center/cover;
  background-size: cover;
  position: relative;
  top: 100px;
  left: 0;
}
.MakeupBan1 {
  width: 100%;
  height: 60vh;
  background-color: pink;
  background: url("./assets/images/MakeUpBanner.png") no-repeat center
    center/cover;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
}
/* -------------------Skincare banner1----------- */
.SkincareBanner1 {
  width: 100%;
  height: 60vh;
  background-color: rgb(243, 145, 162);
  background: url("https://img.freepik.com/free-vector/sakura-cosmetics-bottles-advertising-banner-face-care_33099-1772.jpg?t=st=1738514104~exp=1738517704~hmac=867a271f3328c273e88e92857cc9433ad1dd5285076b7cf8556bade23865b6ca&w=1380")
    no-repeat center center/cover;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
}
/* ---------------------------HairCare Banner1-------------------- */
.HairCareBan1 {
  width: 100%;
  height: 60vh;
  background-color: rgb(243, 145, 162);
  background: url("https://img.freepik.com/free-vector/cosmetics-beauty-product-bottles-advertising-banner_33099-1799.jpg?t=st=1738514752~exp=1738518352~hmac=cbfb0a455d89e5fa98384da46074776bf17647aa898a0279b82563cef0496fe1&w=1380")
    no-repeat center center/cover;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
}
/* ------------body bath banner1------------- */
.BodyBathBan1 {
  width: 100%;
  height: 60vh;
  background-color: rgb(243, 145, 162);
  background: url("https://media.istockphoto.com/id/1184765151/photo/various-serum-bottles-on-palm-leaf-on-grey-background.jpg?s=2048x2048&w=is&k=20&c=T7jzpe7LMLKhvicqllNmvc0yhYXBI51zCMoFO-JLFWw=")
    no-repeat center center/cover;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
}
/* -----------Fragrance Banner1----------------- */
.FragranceBan1 {
  width: 100%;
  height: 60vh;
  background-color: rgb(243, 145, 162);
  background: url("https://img.freepik.com/free-vector/perfume-fragrance-cream-tubes-water-splash_33099-1675.jpg?semt=ais_hybrid")
    no-repeat center center/cover;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
}
/* ------scrolling text---------- */
.scrolling-text {
  width: 100%;
  background-color: skyblue;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 5px;
}
.scrolling-text strong {
  display: inline-block;
  font-size: 18px;
  animation: scroll-left 6s linear infinite;
}
@keyframes scroll-left {
  0% {
    transform: translateX(80%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* ---------fashion--------- */
.fashion {
  width: 100%;
  margin-top: 65px !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px 30px;
}
.fashion .link {
  width: 300px;
  height: 300px;
  background-color: pink;
}
.fashion strong {
  font-size: 20px;
}
.cardImg {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  margin: 10px;
}
.cardImg img {
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}
.cardImg:hover img {
  opacity: 1;
}
.cardImg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(39, 1, 30, 0.4);
  pointer-events: none;
  z-index: 1;
  border-radius: 8px;
}
.cardImg .card-text {
  z-index: 2;
  position: relative;
  color: white;
}

/* -----------admin Login---------- */
.adminLogin {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(rgba(45, 1, 40, 0.8), rgba(88, 1, 86, 0.5)),
    url("https://as2.ftcdn.net/v2/jpg/11/04/38/73/1000_F_1104387375_7DKoBqpKQoixnVH4lcMpYsr6EeaAdd6g.jpg")
      no-repeat center center/cover;
}
.login-card {
  background: rgba(52, 1, 67, 0.7);
  border-radius: 10px;
}

h2 {
  font-weight: bold;
  color: #f7df1e;
}

.custom-input {
  /* background: linear-gradient(
    135deg,
    rgba(255, 20, 147, 0.3),
    rgba(87, 3, 85, 0.3)
  ); */
  color: white !important;
  border-radius: 5px;
  border: 2px solid #ffffff;
  padding: 10px 15px;
  font-style: italic;
  background: transparent !important;
}

.custom-input::placeholder {
  color: white !important;
  opacity: 0.5;
}

.custom-btn {
  background-color: #80048e !important;
  border: none !important;
  font-size: 18px !important;
  padding: 10px !important;
  width: 100% !important;
  transition: all 0.3s !important;
}

.custom-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* AdminLayout.css */
.admin-home {
  background: linear-gradient(to bottom right, #1c1c1d, #5d5e5e);
  min-height: 100vh;
}

.left-navbar {
  background: transparent !important;
  border-right: 1px solid #7b7979;
  border-top: 1px solid #535353;

  vertical-align: top;
  width: 25%;
  padding: 0 !important;
  text-align: center;
}

.menu-list {
  list-style: none;
  padding: 0 !important;
}

.menu-list li {
  margin-bottom: 15px;
}

.menu-list li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

.menu-list li a:hover {
  color: #ffc107;
}

.outlet-section {
  width: 75%;
}

/* // AdminHeader.css */
.admin-header {
  background: transparent;

  font-size: 18px;
}
#log:hover {
  color: rgba(243, 5, 5, 0.863) !important;
}

/* -----------admin home -------------- */
.admin-home-page {
  min-height: 100vh;

  background: transparent !important;
}

.admin-card {
  background: transparent !important;
  color: white;
  padding: 30px;

  /* max-width: 500px; */
  border-radius: 20px;
}

.admin-icon {
  color: #f7df1e;
}

.admin-welcome-text {
  font-size: 24px;
  font-weight: bold;
  color: #f7df1e;
}
.cardText {
  color: rgb(244, 199, 116);
}
/* ----create Product---------- */
#CreateProductbtn {
  background: linear-gradient(to bottom right, #000000, #313232);
}
#CreateProductbtn:hover {
  background: linear-gradient(to bottom right, #878484, #90cbcb);
  color: black !important;
}

@media screen and (max-width: 450px) {
  .adminLogin {
    padding: 10px;
  }
  .LoginDiv {
    padding: 15px;
  }
  .Detail input {
    width: 100%;
    height: 40px;
    font-size: 14px;
  }
  .btn {
    font-size: 14px;
    padding: 10px;
  }
}

/* -------------Display Product Page  */
.display-cards-page {
  background: linear-gradient(to bottom, #fac8fb, #f4a2d5);
  padding: 50px 0;
}
.section-title {
  font-size: 2rem;
  font-weight: bold;
  color: #b26a5e;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: linear-gradient(to bottom, #fac8fb, #f4a2d5);
}
.custom-product-card {
  background: #fff;
  border-radius: 15px !important;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(244, 155, 235, 0.5) !important;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  position: relative;
  padding: 0px !important;
  background: linear-gradient(to bottom, #fac8fb, #f886cc) !important;
}

.custom-product-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

/* Image Container */
.image-container {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 192, 203, 0.2);
  border-bottom: 3px solid #ff6b6b;
}

/* Product Image */
.product-image {
  max-height: 220px;
  width: auto;
  transition: transform 0.3s ease-in-out;
}

.custom-product-card:hover .product-image {
  transform: scale(1.1);
}

/* Brand Name */
.brand-name {
  font-size: 20px;
  font-weight: bold;
  color: purple;
  margin-top: 10px;
}

/* Offer Text */
.offer-text {
  font-size: 16px;
  font-weight: bold;
  color: #b26a5e;
  padding: 3px;
  width: 100%;
  color: purple !important;
  text-align: center;
  background: rgba(220, 128, 217, 0.6);
}

/* Buy Now Button */
.buy-now-btn {
  background-color: #ff6b6b;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.buy-now-btn:hover {
  background-color: #ff3b3b;
  transform: scale(1.1);
}

/* -------------Login SignUp Button ----------- */
#logSign p {
  color: purple;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
#logSign p:hover {
  color: red;
  transform: scale(1.08);
  font-size: 22px;
}

/*----------------- display product ----------------*/
.display-cards-page {
  background-color: #fde9e2; /* Soft peach background */
  padding: 40px 0;
}

.section-title {
  color: #b26a5e;
  font-weight: bold;
}

.custom-product-card {
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  position: relative;
  /* background: linear-gradient(to bottom, #ffebf3, #ffd6e0); */
  border: none;
  overflow: hidden;
  background: transparent !important;
}
.custom-product-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%; /* Half area for mehrab */
  background: url("https://img.freepik.com/premium-vector/islamic-themed-background-white-pink-perfect-background-islamic-big-event-templates_541170-1629.jpg?w=1060")
    no-repeat top center;
  background-size: cover; /* Ensure it fits properly */
  z-index: 1;
}
.custom-product-card * {
  z-index: 3;
}
.custom-product-card:hover {
  transform: scale(1.05);
}

.brand-name {
  font-size: 20px;
  font-weight: bold;
  color: #4d3b37;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  background: transparent !important;
}

.product-image {
  background: transparent !important;
  max-height: 150px;
  object-fit: contain;
  border-top-left-radius: 35% !important;
  border-top-right-radius: 35% !important;
}

.offer-text {
  font-size: 16px;
  font-weight: bold;
  /* color: #b26a5e; */
}

/* -----------------------------Product Detail---------------------- */

.product-detail-container {
  padding: 20px;
  background-color: #f9d3f8;
}

.product-detail-card {
  width: 100% !important;
  max-width: 550px;
  height: 70vh;
  max-height: 70vh !important;
  border: none;
  cursor: pointer;
  background: transparent !important;
  border-radius: 40% !important;

  transition: transform 0.3s ease-in-out;
  position: relative !important;
  top: 0px !important;
  left: 0px !important;
  border: none !important;
  overflow: hidden !important;
}
/* .product-detail-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://img.freepik.com/premium-vector/islamic-themed-background-white-pink-perfect-background-islamic-big-event-templates_541170-1629.jpg?w=1060")
    no-repeat top center;
  background-size: cover;
  z-index: 1;
}
.product-detail-card * {
  z-index: 4;
} */
.mehrab-container {
  position: relative;
  top: 0;
  width: 100%;
  max-width: 550px;
  max-height: 70vh !important;
  height: 70vh;
  background: url("https://img.freepik.com/premium-vector/islamic-themed-background-white-pink-perfect-background-islamic-big-event-templates_541170-1629.jpg?w=1060")
    no-repeat center center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-detail-image {
  width: 100% !important;
  height: auto !important;
  max-height: 200px !important;
  object-fit: contain !important;

  position: relative !important;
  top: 10%;
  z-index: 2 !important;
}

.Detail-thumbnail-container {
  position: absolute;
  bottom: 0px;
  display: flex;
  gap: 20px;
}

.product-detail-thumbnail {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid white;
  cursor: pointer;
  cursor: pointer;
  /* border: 2px solid transparent; */
  transition: border-color 0.3s ease;
}

.thumbnail:hover {
  border-color: #007bff;
}

.product-details {
  padding: 20px;
}

.product-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.product-price {
  font-size: 1.5rem;
  font-weight: bold;
}

.product-description {
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

.action-buttons .btn {
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 8px;
}
.expandable-image {
  transition: transform 0.3s ease-in-out;
  width: 100%;
  max-width: 600px;
  cursor: pointer;
}

.expandable-image:hover {
  transform: scale(1.5); /* Increases the size on hover */
  z-index: 10;
  position: relative;
}

/* ------------------Footer CSS---------------- */
.footer {
  background: #f8f8f8;
  color: #333;
  font-size: 14px;
}

.top-footer {
  background: #333;
  color: white;
  padding: 20px 0;
}

.email-subscribe {
  display: flex;
  gap: 10px;
}

.email-subscribe input {
  padding: 8px;
  width: 70%;
  border-radius: 5px;
  border: none;
}

.email-subscribe button {
  padding: 8px 15px;
  background: #ff007f;
  color: white;
  border: none;
  cursor: pointer;
}

.app-links img {
  width: 120px;
  margin: 5px;
}

.middle-footer {
  padding: 20px 0;
}

.middle-footer h6 {
  font-weight: bold;
}

.middle-footer ul {
  list-style: none;
  padding: 0;
}

.bottom-footer {
  background: #ff007f;
  color: white;
  padding: 15px 0;
}

.social-icons i {
  font-size: 18px;
  margin: 0 10px;
  cursor: pointer;
}

.policy-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

/* ----------- Responsive Admin Login ---------- */
@media screen and (max-width: 768px) {
  .adminLogin {
    padding: 20px;
    justify-content: center;
  }
  .LoginDiv {
    margin: 0;
    padding: 20px;
    width: 90%;
    transform: none;
    box-shadow: none;
  }
  #adminForm {
    gap: 20px;
  }
  .Detail {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .Detail input {
    width: 100%;
    height: 50px;
    font-size: 16px;
  }
  .btn {
    width: 100%;
    font-size: 16px;
  }
  .fashion {
    justify-content: space-around;
  }
  .ban1 {
    height: 50vh;
  }
}
/* Small screens (Phones) */
@media (min-width: 320px) and (max-width: 576px) {
  .header2 {
    top: 80px !important;
  }

  .fashion {
    flex-direction: column;
    align-items: center;
  }
  .ban1 {
    height: 40vh;
    background-position: center top;
  }
}
